.container-full {
  height: 583px;
  background-image: url(./img/colin-watts-Vp6FWs5OGBQ-unsplash.jpg);
  background-size: cover;
  background-position: end;
}
body {
  /* background-color: #fffcf4; */
}
input,
textarea,
select,
button {
  /* để cho kế thừa */
  font-family: inherit;
  font-size: inherit;
}
.container {
  position: relative;
}
/* ====================================header====================================== */
.bg-color {
  background-color: #efefeff0;
}
.nav-item {
  transition-duration: 0.8s;
  border-radius: 10px;
  margin: 0 5px;
}
.nav-item:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.221);
}
.dropdown-menu {
  transition: 1s;
  opacity: 0;
  display: block;
}
.nav-link {
  font-size: 1.6rem;
}

/* Khi dropdown mở */
.dropdown-menu.show {
  opacity: 1;
}

.dropdown {
  margin-right: auto;
}

.nd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}
.thumb {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #8f8f8f3a;
  transition-duration: 0.5s;
}
.thumb:hover {
  transform: scale(1.1);
}

.heading {
  text-align: center;
  margin-top: 15px;
  font-size: 5rem;
  font-weight: 700;
  background: linear-gradient(to right, #a3bffa, #fed7e2);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.desc {
  font-size: 3rem;
  font-weight: 550;
  background: linear-gradient(to right, #a3bffa, #fed7e2);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.ld {
  display: flex;
  column-gap: 15px;
}
.kt {
  width: 25px;
  height: 25px;
}

.dl {
  column-gap: 15px;
}

.fz {
  font-size: 1.7rem;
  background: linear-gradient(to right, #464d17a8, #f8d300);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 600;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.lh {
  width: 100%;
  display: flex;
  column-gap: 15px;
  position: absolute;
  bottom: -188px;
  justify-content: center;
  align-items: center;
}

.bg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 57px;
  height: 57px;
  background-color: #0a0000ab;
  border-radius: 50%;
  transition-duration: 0.5s;
}

.bg-icon:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 100px rgb(254, 0, 0);
}
/* ============================main============================ */
.main-about {
  margin-top: 100px;
  font-family: "Roboto", sans-serif;
}

.about {
  background-color: #f6f8ff;
  padding: 35px 15px;
  border-radius: 40px;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.ttcb {
  position: absolute;
  background-color: #fffcf4;
  padding: 35px 15px;
  border-radius: 40px;
  bottom: -235px;
  left: 295px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.main-heading {
  color: #1d344b;
  font-size: 2.5rem;
  font-weight: normal;
  text-align: center;
  font-weight: 600;
}

.main-heading-tt {
  color: #211a50;
  font-size: 2.3rem;
  font-weight: 600;
}

/* =========================mục tiêu================== */

.bd-mt {
  background-color: #fffcf4;
  padding: 35px;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.muctieu {
  margin-top: 400px;
}

.heading-mt {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 600;
}

.content-mt {
  margin-top: 30px;
  transition-duration: 0.45s;
}
.content-mt:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.img {
  width: 50px;
  height: 50px;
}

.content-mt {
  background-color: #ffffff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 20px;
  border-left: 5px solid #f4dd9e;
}

.heading-2 {
  color: #000;
  font-weight: bolder;
}
/* ===========================học vấn================= */
.hocvan {
  margin-top: 160px;
}
.ct-nd {
  max-width: 878px;
  padding: 40px;
  border-radius: 30px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}
.heading-hv {
  font-size: 3.5rem;
  color: #273673;
  font-weight: 600;
  padding-bottom: 15px;
}
.ct-nd {
  background-color: #f6f8ff;
}
.top-hv {
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  padding: 20px 15px;
  margin-bottom: 15px;
  border-left: 5px solid #283d8f;
  transition-duration: 0.45s;
}
.top-hv:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.heading-hv::after {
  content: "";
  display: block;
  width: 100px;
  height: 5px;
  background-color: #283d8f;
  border-radius: 5px;
  margin-top: 10px;
}

.img-hv {
  width: 50px;
  height: 50px;
}
.img-hv-nho {
  width: 35px;
  height: 35px;
}

.heading-2-hv {
  color: #2c45aa;
}

.desc-hv__nho {
  font-size: 1.7rem;
}

/* =========================================kĩ năng================================== */

.kinang {
  margin-top: 160px;
}

.box-kinang {
  max-width: 878px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.thanhsk {
  width: 100%;
  height: 8px;
  border-radius: 2px;
  background-color: #b2bff5;
  margin-bottom: 15px;
}

.heading-kn {
  text-align: center;
  font-size: 3.5rem;
  color: #273673;
  font-weight: 600;
  padding-bottom: 15px;
}

.tl-html {
  width: 75%;
  height: 100%;
  background-color: #0024b6;
  border-radius: 2px;
}

.tl-js {
  width: 50%;
  height: 100%;
  background-color: #0024b6;
  border-radius: 2px;
}

.tl-bt {
  width: 55%;
  height: 100%;
  background-color: #0024b6;
  border-radius: 2px;
}

.tl-py {
  width: 70%;
  height: 100%;
  background-color: #0024b6;
  border-radius: 2px;
}

.tl-c {
  width: 70%;
  height: 100%;
  background-color: #0024b6;
  border-radius: 2px;
}
.tl-sql {
  width: 75%;
  height: 100%;
  background-color: #0024b6;
  border-radius: 2px;
}

/* ============================= Sở Thích============================== */
.sothich {
  margin-top: 160px;
}

.swiper {
  max-width: 878px;
  margin: 0 auto;
  border-radius: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #eceef8;
}

.swiper-slide {
  width: 30%;
  margin: 15px;
}

.swiper-slide:not(.swiper-slide-active) {
  filter: blur(1px);
}

.heading-st {
  text-align: center;
  font-size: 3.5rem;
  color: #212a51;
  font-weight: 600;
  padding-bottom: 15px;
}
.thumb-st {
  transition-duration: 0.5s;
}
.thumb-st:hover {
  transform: scale(1.1);
  border-radius: 20px;
}
/* ===========================lh============================= */
.lienhe {
  margin-top: 160px;
}

.box-lh {
  padding: 20px;
  max-width: 878px;
  margin: 0 auto;
}
.box-lh {
  min-height: 500px;
}
.bg-lh {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #8a95bb;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
}
.bg-right-lh {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  background-color: #f6f8ff;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.heading-lh {
  font-size: 2.5rem;
  margin-bottom: 30px;
  font-weight: 700;
  color: #ecf0f1;
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  font-size: 1.7rem;
  font-weight: 600;
  display: block;
}
.submit-btn {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #40ff90;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

input,
textarea {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  border: none;
  font-size: 1.7rem;
}

.heading-lh-left {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
  font-weight: 700;
  color: #282553;
}

label {
  font-size: 1.7rem;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  color: #282553;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #27ae60;
  box-shadow: 0 0 5px rgba(39, 174, 96, 0.3);
  outline: none;
}

.desc-lhh {
  font-size: 1.7rem;
  color: #2c3e50;
  font-style: italic;
}

.email--fix {
  word-break: break-all;
}

/* =====================================ft =============================*/
.footer-full {
  margin-top: 160px;
  width: 100%;
  background-color: #f4f6f8;
  min-height: 300px;
  padding: 40px;
}

.fix-ft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-icon-ft {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #0a0000ab;
  border-radius: 50%;
  transition-duration: 0.5s;
  margin: 0 5px;
}

.kt-ft {
  width: 15px;
  height: 15px;
}

.heading-ft {
  font-size: 3.5rem;
  font-weight: 800;
  color: #1d4267;
  margin-bottom: 15px;
  font-family: "Nunito", sans-serif;
}

.desc-ft {
  font-size: 2.3rem;
  color: #1d4267;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-style: italic;
}
