.container-full {
  height: 583px;
  background-image: url(./img/colin-watts-Vp6FWs5OGBQ-unsplash.jpg);
  background-size: cover;
  background-position: end;
}
body {
  background-color: #fffcf4;
}
.container {
  position: relative;
}
/* ====================================header====================================== */
.bg-color {
  background-color: #efefef7c;
}
.nav-item {
  transition-duration: 0.8s;
  border-radius: 10px;
  margin: 0 5px;
}
.nav-item:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.221);
}
.dropdown-menu {
  transition: 1s;
  opacity: 0;
  display: block;
}
.nav-link {
  font-size: 1.6rem;
}

/* Khi dropdown mở */
.dropdown-menu.show {
  opacity: 1;
}

.dropdown {
  margin-right: auto;
}

.nd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}
.thumb {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #8f8f8f3a;
  transition-duration: 0.5s;
}
.thumb:hover {
  transform: scale(1.1);
}

.heading {
  text-align: center;
  margin-top: 15px;
  font-size: 5rem;
  font-weight: 700;
  background: linear-gradient(to right, #a3bffa, #fed7e2);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.desc {
  font-size: 3rem;
  font-weight: 550;
  background: linear-gradient(to right, #a3bffa, #fed7e2);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.ld {
  display: flex;
  column-gap: 15px;
}
.kt {
  width: 25px;
  height: 25px;
}

.dl {
  column-gap: 15px;
}

.fz {
  font-size: 1.7rem;
  background: linear-gradient(to right, #464d17a8, #f8d300);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 600;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.lh {
  width: 100%;
  display: flex;
  column-gap: 15px;
  position: absolute;
  bottom: -188px;
  justify-content: center;
  align-items: center;
}

.bg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 57px;
  height: 57px;
  background-color: #0a0000ab;
  border-radius: 50%;
  transition-duration: 0.5s;
}

.bg-icon:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 100px rgb(254, 0, 0);
}
/* ============================main============================ */
.main-about {
  margin-top: 100px;
  font-family: "Roboto", sans-serif;
}

.about {
  background-color: #ecf1f7;
  padding: 35px 15px;
  border-radius: 40px;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.ttcb {
  position: absolute;
  background-color: #fffcfc;
  padding: 35px 15px;
  border-radius: 40px;
  bottom: -235px;
  left: 295px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.main-heading {
  color: #92c8fe;
  font-size: 2.3rem;
  font-weight: normal;
}

.main-heading-tt {
  color: #f799b4;
  font-size: 2.3rem;
}
